[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pytest = "*"
pylint = "*"
"autopep8" = "*"
behave = "*"
pyhamcrest = "*"
urllib3 = ">=1.23"
requests = ">=2.20.0"

[dev-packages]

[requires]
python_version = "3.6"
