---
- name: Playbook to deprovision Thoth Core
    - openshift
    - thoth

  hosts: localhost

  gather_facts: false
  connection: local

  tasks:
  - fail: msg="Bailing out. this play requires 'THOTH_NAMESPACE'"
    when: THOTH_NAMESPACE is not defined

  - name: Deprovision Thoth
    command: "oc delete bc,configmap,cronjob,dc,is,pod,role,rolebinding,route,\
      secret,svc,sa,template,clusterrole --selector 'app=thoth'"

  - name: Deprovision JanusGraph
    # Deprovision everything except PVC.
    command: oc delete bc,dc,is,pod,route,template,svc --selector 'app=janusgraph'

