---
- name: Playbook to provision Thoth Core
    - openshift
    - thoth

  hosts: localhost
  vars:
    openshift_master_url: "{{ lookup('env','OCP_URL') }}"
    token: "{{ lookup('env','OCP_TOKEN') }}"
    THOTH_BACKEND_NAMESPACE: "thoth-test-core"
    THOTH_MIDDLETIER_NAMESPACE: "thoth-test-core"
    THOTH_FRONTEND_NAMESPACE: "thoth-test-core"
    THOTH_INFRA_NAMESPACE: "thoth-test-core"
    THOTH_DEPLOYMENT_NAME: "thoth-test-core"
    THOTH_CEPH_SECRET_KEY: "{{ lookup('env','THOTH_CEPH_SECRET_KEY') }}"
    THOTH_CEPH_KEY_ID: "{{ lookup('env','THOTH_CEPH_KEY_ID') }}"
    THOTH_S3_ENDPOINT_URL : "{{ lookup('env','THOTH_S3_ENDPOINT_URL ') }}"
    THOTH_CEPH_BUCKET: "DH-DEV-DATA"
    THOTH_SECRET: "{{ lookup('env','THOTH_SECRET') }}"
    THOTH_APP_SECRET_KEY: "{{ lookup('env','THOTH_APP_SECRET_KEY') }}"
    THOTH_SUSPEND_CRONJOBS: false
    PROMETHEUS_PUSHGATEWAY_HOST: "{{ lookup('env','PROMETHEUS_PUSHGATEWAY_HOST') }}"
    PROMETHEUS_PUSHGATEWAY_PORT: "{{ lookup('env','PROMETHEUS_PUSHGATEWAY_PORT') }}"

  gather_facts: false
  connection: local
  roles:
  - role: thoth-core-imagestreams
  - role: thoth-core
  - role: thoth-frontend
  - role: thoth-middletier
  - role: thoth-backend
  - role: thoth-infra-buildconfigs
  - role: thoth-jenkins
